<div>            
    <table class="table" ng-if="persons.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>App</th>
                <th>Apm</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in persons">
                <td>{{p.name}}</td>
                <td>{{p.app}}</td>
                <td>{{p.apm}}</td>
                <td>{{p.address}}</td>
            </tr>
        </tbody>
    </table>
</div>